body {
  font-family: sans-serif;
}

.jamo-selection {
  label {
    display: inline-block;
    min-width: 1em;
    text-align: center;
    &:has(input:checked) {
      background-color: #007fff;
      color: #fff;
    }
  }
  input {
    display: none;
  }
}
